/*Const Colors for Mui*/
//Generic Colors variables
$backgroundColor: #f5f5f5;
$whiteColor: #ffffff;
$textDarkColor: #232323;
$textSecondaryColor: #c7c7c7;
$successCheckColor: #4fd000;
$dangerCheckColor: #ec321f;
$defaultCheckColor: #afafaf;
$CheckBoxBorderColor: #d9d9d9;
$borderColor: #f2f2f2;
//Input fields colors variables
$inputTextFieldColor: #fafafc;
$inputTextColor: #afafaf;
$borderInputFieldColor: #cbcbcb;
//Button fields Colors variables
$buttonPrimaryColor: #fc594a;
$linkPrimaryColor: #ec321f;
$buttonBackgroundColor: #f8f8f8;
$white300: #f4f4f4;
$success: #3ae17e;
$black: #000000;
$gray: #a5a5a5;
/*Cont Colors end for Mui*/
