@import '../../../sass/variables.scss';
.imageIcon:hover {
  filter: invert(43%) sepia(68%) saturate(1889%) hue-rotate(332deg) brightness(101%) contrast(98%);
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  padding-right: 2%;
  .heading {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Poppins-Bold';
  }
  .marginTop {
    margin-top: 20px;
  }
  .row {
    display: flex;
    align-items: center;
    .userLinkWrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
    }
    h6 {
      font-size: 25px;
    }
    .countWrapper {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      .linksCount {
        margin-left: 10px;
        padding: 2px 12px;
        font-weight: 600;
        border-radius: 8px;
        background-color: $black;
        color: $whiteColor;
        font-size: 15px;
      }
    }
    .filerWrapper {
      cursor: pointer;
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      gap: 7px;
      .filter {
        font-size: 15px;
        font-weight: 400;
        color: $CheckBoxBorderColor;
      }
      input {
        cursor: pointer;
      }
      .label {
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        color: $textDarkColor;
        user-select: none;
        font-family: 'Poppins-Medium';
      }
    }
  }
  .listWrapper {
    height: 100%;
    overflow: hidden;
    .listContaier {
      height: 100%;
      .list {
        height: 100%;
        overflow-y: auto;
        padding-bottom: 75px;
        padding-right: 7px;
      }
      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        button {
          padding: 11px 5px;
          cursor: pointer;
          margin-right: -23px;
        }
        .addCampaignButton {
          button {
            font-weight: 500;
            font-size: 14px;
            background-color: transparent;
            color: #232323;
            box-shadow: none;
            width: max-content;
          }
        }
      }
      p {
        margin: 0px;
        padding: 0px;
      }
    }
    .detailContainer {
      height: 100%;
      .list {
        height: 100%;
        overflow-y: auto;
        padding: 10px 0px 40px 10px;
      }
      .editRow {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: -15px;
      }
      p {
        margin: 0px;
        padding: 0px;
      }
    }
    .card {
      margin-top: 10px;
      background: $whiteColor;
      border: 2px solid $white300;
      box-shadow: 0px 18px 20px -8px rgba(57, 57, 57, 0.05) !important;
      border-radius: 8px;
      padding: 20px;
    }
    .linkCard {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      .radioText {
        flex: 1;
      }
      .descriptionWrapper {
        flex: 7;
        .description {
          font-size: 18;
          font-weight: 400;
        }
        .primaryText {
          font-size: 18;
          font-weight: 400;
          color: $buttonPrimaryColor;
          .secondaryText {
            font-weight: 800;
          }
        }
      }
      .dateWrapper {
        flex: 3;
        .date {
          color: $CheckBoxBorderColor;
          font-size: 14px;
          text-align: right;
        }
        .totalClicks {
          font-size: 14px;
          text-align: right;
          display: flex;
          justify-content: flex-end;
          gap: 7px;
        }
      }
    }
    .detailWrapper {
      height: 100%;
      overflow-y: scroll;
      .detailCard {
        .row {
          margin-top: 10px;
          display: flex;
          align-items: center;
          gap: 20px;
          .description {
            font-size: 21px;
            font-weight: 600;
          }
          .centerRow {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 15px;
            gap: 7px;
            .normalText {
              font-size: 18px;
              font-weight: 400;
            }
            .boldText {
              font-size: 18px;
              font-weight: 600;
            }
          }
          .primaryText {
            font-size: 18;
            font-weight: 400;
            color: $buttonPrimaryColor;
            .secondaryText {
              font-weight: 800;
            }
          }
        }
        .link {
          display: flex;
          flex-direction: row;
          font-size: 15;
          font-weight: 400;
        }
      }
      .graphstatsCard {
        margin-top: 20px;
        background: $whiteColor;
        border: 2px solid $white300;
        box-shadow: 0px 18px 20px -8px rgba(57, 57, 57, 0.05) !important;
        border-radius: 8px;
        padding: 20px;
        .graphstatsContainer {
          display: 'flex';
          align-items: 'center';
          .statsBar {
            max-width: 350px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .statsText {
              font-weight: 600;
              font-size: 21px;
            }
            .center {
              width: 100px;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              .totalClicksText {
                font-weight: 600;
                font-size: 18px;
              }
              .ClicksText {
                font-weight: 400;
                font-size: 18px;
              }
            }
          }
          .dropDownSection {
            display: flex;
            justify-content: flex-end;
            .dropDown {
              display: flex;
              width: 131px;
              margin-left: 50px;
              div {
                div {
                  border: 1px solid #232323;
                  border-radius: 10px;
                  div {
                    border: none;
                    padding: 7px 19px;
                    padding-right: 1px;
                    font-weight: 400;
                    font-size: 14px;
                  }
                  img {
                    height: 5px;
                  }
                }
              }
            }
          }
          .graph {
            margin-top: 20px;
            .chartBox {
              margin-top: 20px;
              width: 100%;
              height: 250px;
              .textFilter {
                font-size: 14px;
              }
            }
          }
          .LinkText {
            margin-top: 0px;
          }
        }
        background: $whiteColor;
        border: 2px solid $white300;
        box-shadow: 0px 18px 20px -8px rgba(57, 57, 57, 0.05) !important;
        border-radius: 8px;
        padding: 20px;
        .graphstatsContainer {
          display: 'flex';
          align-items: 'center';
          .statsBar {
            max-width: 350px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .statsText {
              font-weight: 600;
              font-size: 21px;
            }
            .center {
              width: 100px;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              .totalClicksText {
                font-weight: 600;
                font-size: 18px;
              }
              .ClicksText {
                font-weight: 400;
                font-size: 18px;
              }
            }
          }
          .dropDownSection {
            display: flex;
            justify-content: flex-end;
            .dropDown {
              display: flex;
              width: 131px;
              margin-left: 50px;
              div {
                div {
                  border: 1px solid #232323;
                  border-radius: 10px;
                  div {
                    border: none;
                    padding: 7px 19px;
                    padding-right: 1px;
                    font-weight: 400;
                    font-size: 14px;
                  }
                  img {
                    height: 5px;
                  }
                }
              }
            }
          }
          .graph {
            margin-top: 20px;
            .chartBox {
              margin-top: 20px;
              width: 100%;
              height: 250px;
              .textFilter {
                font-size: 14px;
              }
            }
          }
          .LinkText {
            margin-top: 0px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1222px) and (max-width: 1360px) {
  .wrapper {
    .marginTop {
      .userLinkWrapper {
        margin: 0;
        padding: 0;
        .countWrapper {
          h6 {
            font-size: 20px;
          }
          .linksCount {
            font-size: 16px;
            padding: 3px 11px;
          }
        }
        .filerWrapper {
          .filter {
            font-size: 12px;
          }
          .label {
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 900px) and (max-width: 1221px) {
  .wrapper {
    .marginTop {
      .userLinkWrapper {
        margin: 0;
        padding: 0;
        flex-direction: column;
        .countWrapper {
          justify-content: flex-start;
          h6 {
            font-size: 20px;
          }
          .linksCount {
            font-size: 16px;
            padding: 3px 11px;
          }
        }
        .filerWrapper {
          justify-content: flex-start;
          .filter {
            font-size: 12px;
          }
          .label {
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 899px) {
  .wrapper {
    padding: 0px 26px;
    .row {
      margin-left: 10px;
      h6 {
        font-size: 18px;
        font-weight: 700;
      }
      .linksCount {
        width: 35px;
        height: 35px;
        font-size: 13px;
        border-radius: 8px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .listWrapper {
      .listContaier {
        height: 100%;
        .list {
          overflow-y: scroll;
          height: -webkit-fill-available;
        }
        .row {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          button {
            padding: 11px 5px;
            cursor: pointer;
            margin-right: 0px;
          }
        }
      }
      .detailContainer {
        height: 500px;
        height: initial;
        overflow: hidden;
        .list {
          overflow-y: hidden;
        }
      }
    }
  }
}
