.heading {
  font-size: 40px;
  margin-left: 60px;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
}
.divider {
  padding-top: 51px;
}
.settingDetailStyles {
  height: 100%;
  .gridComponentBorder {
    border-left: 1px solid #cbcbcb;
  }
}
