@import '/sass/variables.scss';
.mainContainer {
  margin-left: 15%;
  margin-top: 60px;
  @media screen and (max-width: 860px) {
    margin-left: 14%;
  }
  @media screen and (max-width: 790px) {
    margin-left: 13%;
  }
  .headerText {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: $textDarkColor;
  }
  .secondaryText {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: $textDarkColor;
  }
  .acccordianContainer {
    margin-top: 60px;
    width: 400px;
    .accordian {
      padding: 14px 0px;
      width: 400px;
      margin-bottom: 20px;
      border-radius: 8px;
      background-color: $whiteColor;
    }
  }
}
