@import '/sass/variables.scss';
.card {
  .inputAdornment {
    display: flex;
    justify-content: flex-end;
  }
  div {
    div {
      width: 50%;
      input {
        width: 100%;
      }
    }
  }
  .submitButton {
    padding-top: 30px;
  }
}
