@import '/sass/variables.scss';
.mainContainer {
  margin-left: 15%;
  margin-top: 60px;
  @media screen and (max-width: 860px) {
    margin-left: 14%;
  }
  @media screen and (max-width: 790px) {
    margin-left: 13%;
  }
  .headerText {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: $textDarkColor;
  }
  .acccordianContainer {
    margin-top: 60px;
    width: 900px;
    .accordian {
      padding: 14px 0px;
      width: 70%;
      margin-bottom: 20px;
      border-radius: 8px;
      border: 1px solid $white300;
      background-color: $whiteColor;
      h2 {
        max-width: 500px;
      }
    }
  }
  .rightContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .headerText {
      font-weight: 400;
      font-size: 21px;
      text-align: center;
      color: $textDarkColor;
      margin-bottom: 58px;
    }
    .btnContainer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 3px;
      .verifyDomainBtn {
        background: $buttonPrimaryColor;
        border-radius: 8px;
        width: max-content;
        button {
          width: max-content;
          color: $whiteColor;
          font-weight: 500;
          font-size: 16px;
          padding: 16px 57px;
        }
      }
      .cancelBtn {
        width: max-content;
        button {
          width: max-content;
          padding: 16px 57px;
        }
      }
    }
  }
  .form {
    div {
      div {
        width: 50%;
        input {
          width: 50%;
        }
      }
    }
  }
}
