@import '../../sass/variables.scss';

.iconButton {
  color: $textSecondaryColor;
  background-color: transparent;

  &:active,
  &:hover {
    background-color: transparent;
    color: $buttonPrimaryColor;
  }
}
